td {
    padding: 5px;
    /* width: 80px; */
    min-width: 60px;
    /* min-width: 80px; */
    font-size: 11px;
    text-align: center;
}

th {
    padding: 5px;
    /* width: 100px; */
    min-width: 60px;
    /* min-width: 80px; */
    font-size: 11px;
    text-align: center;
}

tbody tr:hover {
    background-color: #e2e2e2;
    /* background-color: #f5f5f5; */
}


.scrollable-table {
    max-height: 600px;

    overflow-x: auto;
    overflow-y: auto;
}